<h1>Welcome to Medi-Cliq</h1>
<p>This is the public homepage. Please log in.</p>

<%= link_to "Patient Login", new_patient_session_path, class: "btn btn-primary" %>
<%= link_to "Doctor Login", new_doctor_session_path, class: "btn btn-secondary" %>

