<h1>Admin Dashboard</h1>
<ul>
  <li>Total Doctors: <%= @total_doctors %></li>
  <li>Total Patients: <%= @total_patients %></li>
  <li>Total Prescriptions: <%= @total_prescriptions %></li>
  <li>Total Medicines: <%= @total_medicines %></li>
</ul>
