<p>Hello <%= @patient.name %>,</p>

<p>Your account has been created. Here are your login details:</p>

<p>Email: <%= @patient.email %></p>
<p>Password: <%= @password %></p>

<p>Please log in and change your password.</p>

<p>Thank you!</p>
