<!-- app/views/admin/categories/show.html.erb -->
<h1>Category: <%= @category.name %></h1>
<p>Created At: <%= @category.created_at.strftime("%d %b %Y") %></p>
<%= link_to 'Back to Categories', admin_categories_path, class: 'action-btn secondary' %>
